{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>Moringa - {{ title }} </title>
    {% else %} <link rel="stylesheet" href="{% static 'css/basenews.css' %}">
    <title>Moringa Tribune</title>
    {% endif %}
 
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{% static 'js/newsletter.js' %}"></script>
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/basenews.css' %}">
    {% endblock %}

</head>

<body>
    {% include 'navbar.html' %}
    <div class="mt-4">
        {% block content %}<h1 class="text-center">News for {{date|date:"l F d, Y"}}</h1>{% endblock content %}
    </div>
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>