{% extends 'all-news/base.html' %}
{% load bootstrap4 %}
{% block content %} 
{% load static %}
{{ block.super }}

<div class="container-fluid">

    <form  action="{%url 'newsToday'%}" method="post">
        {%csrf_token%}
    
        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
      </form>
      <br>

  <!-- Looping through news   -->
  {% for news_item in news %}

  <div class="row card">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ news_item.title }} </h2>
     
    </div>

    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img class="account-img" src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
        <p class="mt-2"> {{ news_item.post }} </p>
        </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There Is No News Items</h2>
  </div>
  {% endfor %}

  

</div>

{% endblock %}

{% block scripts  %}
<scripts type="text/javascript" src="{% static 'js/newsletter.js' %}"></scripts>
 
{% endblock %}